@import "../default";

.page3 {
  .page();
  height: 100vh;
  background: url("./img/bg.jpg") center/cover no-repeat;

  .flower {
    outline: none;
    transform: translate(16vw, 22vh);
  }

  .flower-sent {
    outline: none;
    transform: translate(-16vw, -22vh);
    transition: all 1s;
  }
}
