@import "../default";

.page1 {
  .page();
  height: 100vh;
  background: url("./img/bg.png") center / cover no-repeat;

  .open {
    width: 22vw;
    height: 15vh;
    cursor: pointer;
    outline: none;
  }
}
