@import "../default";

.page1 {
  .page();
  height: 100vh;
  background: url("./img/bg.jpg") no-repeat;
  background-size: 100% 100%;

  .open {
    width: 24vw;
    height: 20vh;
    cursor: pointer;
    outline: none;
  }
}
