@import "../default";

.page2 {
  height: 130vw;
  background: url("./img/bg.png") center no-repeat;
  background-size: 100%;

  .letters {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 10rem;

    @fontSize: 3.2rem;
    p {
      font-family: fzzj, serif;
      font-size: @fontSize;
      text-indent: 2*@fontSize;

      span {
        animation: fadeLeftInA 2s ease;
      }
    }

    .luokuan {
      float: right;
    }
  }
}
