@import "../default";

.page2 {
  .page();
  background: url("./img/bg.jpg") center/cover no-repeat;

  .letters {
    max-width: 85vw;

    p {
      text-indent: 2em;
      line-height: 1.2em;
    }

    .luokuan {
      float: right;
    }
  }
}
