@import "../default";

.page2 {
  height: 130vw;
  background: url("./img/bg.png") center/cover no-repeat;

  .letters {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 10rem;

    @fontSize: 3.2rem;
    p {
      font-size: @fontSize;
      text-indent: 2*@fontSize;
      color: skyblue;
    }

    .luokuan {
      float: right;
    }
  }
}
